Repository relaycli/relay, changes with the labels that .github/labeler.yml gives for each.
All labels: service: python, service: cli, service: docs, ext: ci, ext: cursor, ext: vscode, ext: scripts, topic: style, topic: docs, func: build, module: models, module: auth, module: providers, module: exceptions, ext: tests, commands: account, commands: auth

docs(quickstart): add more examples
  README.md
  docs/documentation/getting-started/quickstart.mdx
Labels: topic: docs

docs(readme): add link to documentation installation step
  README.md
Labels: topic: docs

docs(readme): fix console display and add examples (#7)
  README.md
  docs/documentation/getting-started/quickstart.mdx
Labels: topic: docs

ci(package): update core workflow
  .github/workflows/package.yml
Labels: none

ci(release): clean release template
  .github/release.yml
Labels: ext: ci

ci(templates): clean up issue templates
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  .github/ISSUE_TEMPLATE/2_feature_request.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

docs(installation): clean up installation instructions
  README.md
  docs/documentation/getting-started/quickstart.mdx
Labels: topic: docs

docs(makefile): switch to trusted publishing
  Makefile
Labels: topic: docs

docs(reference): add CLI reference
  docs/docs.json
  docs/reference/cli/accounts.mdx
  docs/reference/cli/messages.mdx
Labels: service: docs, topic: docs

.github/labeler.yml:

# High-level service labels
'service: python':
- changed-files:
  - any-glob-to-any-file: relay/*

'service: cli':
- changed-files:
  - any-glob-to-any-file: relay/cli/*

'service: docs':
- changed-files:
  - any-glob-to-any-file: docs/*

# Secondary
'ext: ci':
- changed-files:
  - any-glob-to-any-file: .github/*

'ext: cursor':
- changed-files:
  - any-glob-to-any-file:
    - '.cursor/*'

'ext: vscode':
- changed-files:
  - any-glob-to-any-file:
    - '.vscode/*'

'ext: scripts':
- changed-files:
  - any-glob-to-any-file:
    - 'scripts/*'

'topic: style':
- changed-files:
  - any-glob-to-any-file:
    - '**/.pre-commit-config.yaml'

'topic: docs':
- changed-files:
  - any-glob-to-any-file:
    - '**/README.md'
    - '**/CONTRIBUTING.md'
    - '**/CODE_OF_CONDUCT.md'
    - '**/Makefile'
    - '**/.env.example'
    - '**/*.mdx'
    - 'docs/*'

# Orchestration
'func: build':
- changed-files:
  - any-glob-to-any-file:
    - '**/pyproject.toml'
    - '**/uv.lock'
    - '**/Dockerfile'


########################################################
# Library-specific
########################################################

'module: models':
- changed-files:
  - any-glob-to-any-file:
    - relay/models/*

'module: auth':
- changed-files:
  - any-glob-to-any-file:
    - relay/auth/*

'module: providers':
- changed-files:
  - any-glob-to-any-file:
    - relay/providers/*

'module: exceptions':
- changed-files:
  - any-glob-to-any-file:
    - relay/exceptions.py
# Tests
'ext: tests':
- changed-files:
  - any-glob-to-any-file:
    - tests/*


########################################################
# CLI-specific
########################################################

'commands: account':
- changed-files:
  - any-glob-to-any-file:
    - relay/cli/commands/account/*

'commands: auth':
- changed-files:
  - any-glob-to-any-file:
    - relay/cli/commands/auth/*
